<script src="./js/listInput.js"></script>
<div class="container">
  <div class="form-group">
    <form action="addList" method="post" id="addListForm">
      <div id="inputs">
        <h4>list Title</h4>
        <input type="text" name="title" class="form-control"><br>
        <h4>optional(a discriptoin about your list)</h4>
        <input type="text" name="about" class="form-control">
        <h4> add some starting Items </h4>
        <input type="text" name"items" class="form-control">
        <br>
      </div>
      <button type="button" id="listButton">Another Item</button>
      <input type="submit">
    </form>
  </div>
</div>
