<div class='container'>
  <h3>Top Rated Lists</h3>
  <ul class="list-group">
    {{#each data}}
      <li class="list-group-item">
        <span class="badge">{{popularity}}</span>
        {{title}}
      </li>
    {{/each}}
    </ul>

</div>
