<div class="container">
  <h1> all of the lists </h1>
  <ul class="list-group">
    {{#each data}}
      <a href="/list/{{id}}">
        <li class="list-group-item"> {{title}} </li>
      </a>
    {{/each}}
  </ul>
</div>
