<div class="jumbotron">
  <h1> Login </h1>
  <form actoin="/login", method="post">
    <h4>login:</h4><input type="text" name="username">
    <h4>sign up:</h4><input type="text" name="password">
    <input type="submit">
  </form>
</div>
