<div class="container">
  <div class="jumbotron">
    <h1> Login </h1>
    <form actoin="/login", method="post">
      <h4>username: <input type="text" name="username"></h4>
      <h4>password: <input type="password" name="password"></h4>
      <input type="submit">
    </form>
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
  </div>
</div>
