<ul class="list-group" id="listOflists">
  {{#each found}}
    <a href="/list/{{title}}/{{id}}">
      <p>hello how are you</p>
      <h2><li class="list-group-item"> {{title}} </li></h2>
    </a>
  {{/each}}
</ul>
