<div class="container">
  <div class="jumbotron">
    <h1> Sign Up </h1>
    <form action="/signup", method="post">
      <h4>username: <input type="text" name="username"></h4>
      <h4>password: <input type="password" name="password"></h4>
      <h4>retype password: <input type="password" name="retypePassword">
      <input type="submit">
    </form>
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
  </div>
  You olnly need an account, if you plan on deleting items from lists.
</div>
