<div class="container">
  <div class="jumbotron">
    <h1> Sign Up </h1>
    <form actoin="/login", method="post">
      <h4>username: <input type="text" name="username"></h4>
      <h4>password: <input type="text" name="password"></h4>
      <input type="submit">
    </form>
  </div>
  You olnly need an account, if you plan on deleting items from lists.
</div>
